.header-table{
    display: flex;
    margin-right:3vw;
    margin-left:3vw;
}

.header-text{
    right: auto;
    display: flex;
    margin-right: 0;
    padding-right: 0;
    margin: 0 0 0 auto;
}

.header-image{
    padding-left: 3vw;
  }
  