/* ensure all pages have Bootstrap CSS */
@import '~bootstrap/dist/css/bootstrap.min.css';

.md-container {
  max-width: 800px;
  padding-top: 2rem;
}

/* main title */
.main-title {
  color: rgb(105,59,7);
  height: 200px;
  width: 100%;
  text-align: center; 
  padding: 50px 0;
  background-image: url(../public/background.jpg);
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: cover;
}

/* about */
.about-item {
  color: rgb(105,59,7);
  text-align: center;
  background-color: whitesmoke;
}

.title {
  font-size: 5em;
  color: rgb(105,59,7);
  text-align: center;
}


/* footer */
.footer-background {
  height: 80px;
  width: 100%;
  margin-top: 20px;
  background-image: url(../public/background.jpg);
  background-repeat: no-repeat;
  background-position: 0 40%;
  background-size: cover;
}

.filter {
  height: 80px;
  width: 100%;
  background-color: rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;

}

.twitter-logo {
  height: 1.8em;
  margin-left: 0.25em;
  margin-right: 0.25em;
}

.github-logo {
  height: 2em;
  margin-left: 0.25em;
  margin-right: 0.25em;
}

.copyright {
  font-size: 1em;
  margin-left: 0.3em;
  margin-right: 0.3em;
  color: aliceblue;
}
