/* ensure all pages have Bootstrap CSS */
@import '~bootstrap/dist/css/bootstrap.min.css';

.md-container {
  max-width: 800px;
  padding-top: 2rem;
}

.sml-card {
  width: 22rem;
  margin: 1rem 0;
}

.footer-background {
  height: 80px;
  width: 100%;
  margin-top: 20px;
  background-image: url(../public/background.jpg);
  background-repeat: no-repeat;
  background-position: 0 40%;
  background-size: cover;
}

.filter {
  height: 80px;
  width: 100%;
  background-color: rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;

}

.twitter-logo {
  height: 1.8em;
  margin-left: 0.25em;
  margin-right: 0.25em;
}

.github-logo {
  height: 2em;
  margin-left: 0.25em;
  margin-right: 0.25em;
}

.copyright {
  font-size: 1em;
  margin-left: 0.3em;
  margin-right: 0.3em;
  color: aliceblue;
}

/* activity */
.sub{
  color: rgb(105,59,7);
  text-align:center;
  padding:20px 0;
}

.activity-background{
  background-color: rgb(252,252,233);
}

.activity-column-image {
  height: 80px;
  width: 100%;
  margin-top: 20px;
  background-image: url(../public/images/teara_leaf.png);
  background-repeat: no-repeat;
  background-position: 0 40%;
  background-size: cover;
}

.list-group-item {
  background-color: rgb(252,252,233);
  color: rgb(105,59,7);
}