/* ensure all pages have Bootstrap CSS */
@import '~bootstrap/dist/css/bootstrap.min.css';

.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/* main title */
.main-title {
  color: rgb(105,59,7);
  height: 300px;
  width: 100%;
  text-align: center; 
  padding: 100px 0;
  background-image: url(../public/images/background.jpg);
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: cover;
  font-family: "Times New Roman";
}

/* footer */
.footer-background {
  height: 80px;
  width: 100%;
  margin-top: 20px;
  background-image: url(../public/images/background.jpg);
  background-repeat: no-repeat;
  background-position: 0 40%;
  background-size: cover;
}

.filter {
  height: 80px;
  width: 100%;
  background-color: rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.twitter-and-github-logo {
  margin: 5px;
}

.copyright {
  margin: 5px;
  font-size: 1em;
  color: whitesmoke;
}

/* activity */
.sub{
  color: rgb(105,59,7);
  text-align:center;
  padding:20px 0;
}

.activity-background{
  background-color: rgb(252,252,233);
}

.activity-column-image {
  height: 80px;
  width: 100%;
  margin-top: 20px;
  background-image: url(../public/images/teara_leaf.png);
  background-repeat: no-repeat;
  background-position: 0 40%;
  background-size: cover;
}

.list-group-item {
  background-color: rgb(252,252,233);
  color: rgb(105,59,7);
  display: flex;
  padding-left: 10vw;
  padding-right: 10vw;
}

.contents {
  display: left;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px 0;
  padding-top: 5px;
}
  
/* header */
.left{
  left: 30px;
  display: left;
}

.header {
  background-color: red;
  position: fixed;
  padding: top;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100vw;
  z-index: 30;
  box-shadow: 10px 10px 10px rgba(0,0,0.6,0.3);
  color: rgb(105,59,7);
  padding-left: 0;
}

.contact-title {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  color: rgb(105,59,7);
  text-align: center; 
  font-family: "Times New Roman";
  background-color: white;
}

.contact-content {
  padding: 0;
  margin: 0 20%;
  color: rgb(105,59,7);
  text-align: center; 
  background-color: white;
  font-family: "游ゴシック";
}

.header-image{
  padding-left: 3vw;
}

.header-text{
  right: auto;
  display: flex;
  margin-right: 3vw;
  padding-right: 0;
  /* padding-left: 70vw; */
  margin: 0 0 0 auto;
}

a{
  margin-right:1vw;
  margin-left:4vw;
}

.plain-text{
  font-family: 'Roboto Serif', sans-serif;
}

.title{
  font-family: 'Roboto Serif', sans-serif;
  color: rgb(105,59,7);
  text-align:center;
  padding:20px 0;
}

